
<h1>Let's Have Coffee!</h1>
<p>Hey <%= @user %></p>


<p>
  Today’s your lucky day coz you have a mutual like! Time to pop the champagne and sharpen up those first-impression skills as soon you’ll be talking to the <%= @gender %>
  who likes you too!!
</p>

<p>So what should you do? Here’s what we suggest:</p>




<p><b>Step 1</b>: Make sure you have some good stuff up on your profile – take quizzes under Snaz me up!  to ensure your profile reflects what you like. These will act as great things to talk about.</p>
<p><b>Step 2</b>: Send ice-breakers – Select which ice-breaker would give you the most useful information and then send it across. Break the ice!<p>
<p><b>Step 3</b>: Just relax and be yourself – This person already likes you – that’s the cool part!!. So just relax and be yourself. It’ll do the trick :)</p>

<p>All the best!</p>

<p>Cheers!</p>
<p>Team LHC</p>
