<section id="dashboard_messages_section">
    <% 3.times do |person| %>
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="row">
              <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <div style="margin: 0 0 5px 5px;" class="media-image-wrapper clearfix">
                  <a class="no-border" style="margin: 0;" target="_blank" href="http://snapwidget.com/v/681858336037296691">
                    <img style="height: 80px; width: 80px; opacity: 1;" src="//distilleryimage7.s3.amazonaws.com/7ebd85eab1da11e39bbf12dadab21c47_5.jpg" class="img-circle">
                  </a>
                </div>
              </div>
              <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
                <div class="row">
                  <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
                    <h3 class="black" style="margin-top: 0">Arjun Kapoor</h3>
                  </div>
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-3 col-sm-offset-3 col-md-offset-3 col-lg-offset-3">
                    <p class="black" style="padding-top: 5%;">
                      8 Mar 14 / 2.30pm
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p class="gray">
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                      lorem ipsum lorem ipsum lorem ipsum lorem ipsum lorem ipsum
                    </p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-8 col-sm-offset-8 col-md-offset-8 col-lg-offset-8">
                    <!--<button class="btn-main" style="width: 80%;">Reply</button>-->
                    <button class="lhc-btn btn-small blue">Reply</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
    <% end %>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <textarea placeholder="Write to reply..." class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></textarea>
        <%#= text_area_tag 'message', "Description goes here." %>
      </div>
    </div>
</section>