<section id="left_menu">
    <div class="row" id="dashboard_user_profile_pic">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="thumbs">
          <img alt="Image Size 430x280" class="img-responsive" src="/assets/portfolio1.jpg">
          <a href="individual-work.html">
                <span class="title">
                    <span><i class="fa fa-link fa-2x"></i></span>
                </span>
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <button class="lhc-btn btn-large gray">Profile</button>
      </div>
    </div>
    <div class="row" style="margin-top: 2%">
      <div class="col-lg-12">
        <button class="lhc-btn btn-large red">Conversations</button>
      </div>
    </div>
    <div class="row" style="margin-top: 2%">
      <div class="col-lg-12">
        <button class="lhc-btn btn-large gray">Quick Match</button>
      </div>
    </div>
    <div class="row" style="margin-top: 2%">
      <div class="col-lg-12">
        <button class="lhc-btn btn-large gray">Mutual Likes</button>
      </div>
    </div>
    <div class="row" style="margin-top: 2%">
      <div class="col-lg-12">
        <button class="lhc-btn btn-large gray">Questions</button>
      </div>
    </div>
</section>