<!--Page Title-->
<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-blue">
        <h2>About Us</h2>
        <%#= raw(SiteContent.where(:key=>"about_us_key").first.value) %>
        <%#= sanitize SiteContent.where(:key=>"about_us_key").first.value %>
      </div>
    </div>
  </div>
</section>


<section id="blue-container">
  <div class="custom-container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">

        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8">
            <h3 class="white">let's brew some awesomeness!!!</h3>
          </div>
        </div>



        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p class="about_text">
              <%= raw(SiteContent.where(:key=>"aboutus").first.value) %>
            </p>
          </div>
        </div>

      </div>

      <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-center">
        <img alt="Title" class="img-responsive" src="/assets/cofee.jpg">
      </div>
    </div>
  </div>

</section>