<!--Page Title-->
<section id="page-title">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 title-blue">
        <h2>About Us</h2>
      </div>
    </div>
  </div>
</section>


<section id="take_test_blue-container">
  <div class="custom-container">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
        <div class="row" style="margin-top: 5%">
          <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-lg-offset-2">
              <p class="white text-center" style="font-size: 1.4em;">let's brew some</p>
              <p class="white text-center" style="font-size:  2em;">awesomness!!</p>
              <p class="white" style="text-align:justify;
                      text-justify:inter-word;">
                Hmmm - so who are we? Who are these people, you might think, who have built yet another "platform to meet other people"?

                Well, we're just a bunch of normal kids, just like you. Ok - maybe not kids - we are in our mid-twenties - but really quite normal otherwise.

                We go to work, hang out with friends, get piss drunk on weekends, fight raging bulls (and win), solve rubik's cube in under 10 seconds, save the world occasionally - you know - the usual stuff.

                We also try our luck and try and meet someone interesting once in a while - ..I mean - who doesn't? Now you would think that people like us shouldn't have trouble doing that, right? We're brilliant nerds who fight bulls and save the world for God's sake!

                But no. That seems easier said than done. Whether it's our workplace, or our gyms or the nightclubs - hell, we even tried standing on the road with a sign! Nothing worked. Enough is enough. We needed to do something about this!

                And so we started letshavecoffee.in.

                "Let's have coffee?" Such a simple statement. It is also a statement that usually marks the beginning something good :)

                And that is our simple wish with this product. That we can be the platform that enables us and more importantly, you guys, to find other like-minded people, meet them over coffee, and then - .who knows?

                We hope our product can truly make a difference in your lives. All the best and let's brew some awesomeness!! :)

                D & S Co-founders, letshavecoffee.in
              </p>
          </div>
        </div>
      </div>

      <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <img alt="Title" class="img-responsive" src="/assets/cofee.jpg">
      </div>

    </div>
  </div>

</section>

