<h3>Hi,there</h3>

  <p>Your friend <%= User.find(@current_user).demographic.name %> has invited you to join Lets Have Coffee – an online portal to find a date for you from one of the top colleges!<p></p>

  <p>To know more about us, and Signup on LHC you can click here: <a href="http://lhcmocks.herokuapp.com" target="_blank">Let Have COffe</a>

  <p>We hope to help you in the quest for your perfect date!</p>

  <p>Let’s brew some awesomeness!</p>

  <p>LHC team</p>