<style>
    body {
        background: none repeat scroll 0 0 #38C8E0;
    }

    .col-style {
        padding-right: 0;
        border: 1px solid #000000;
        border-radius: 5%;
    }

    /*for row-col structure - starts*/
    /*ul.nav li{*/
    /*display: table-cell;*/
    /*height: 36px;*/
    /*text-align: center;*/
    /*vertical-align: middle;*/
    /*}*/
    /*for row-col structure - ends*/

    ul.nav li {
        width: 33.3%;
        border: 1px solid #000000;
        border-radius: 5%;
    }
</style>

<%= content_for(:dialogue_bar_header) do %>
    <% if params[:id].to_s != (current_user.id).to_s %>
        Profile
    <% else %>
        Your profile
    <% end %>
<% end %>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="background-color: red;">

    <div class="bs-example bs-example-tabs">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-11 col-sm-12 col-md-12 col-lg-12">
          <ul class="nav nav-tabs" id="myTab" style="text-align: center">

            <!--<div class="row">-->
            <!--<div class="col-xs-4 col-style">-->
            <!--<li class="active text-center">-->
            <!--<a style="color: #000000" data-toggle="tab" href="#basic_info">Basic Info</a></li>-->
            <!--</div>-->
            <!--<div class="col-xs-4 col-style">-->
            <!--<li class="text-center">-->
            <!--<a style="color: #000000" data-toggle="tab" href="#fav_movies">Fave Movies</a></li>-->
            <!--</div>-->
            <!--<div class="col-xs-4 col-style">-->
            <!--<li class="text-center">-->
            <!--<a style="color: #000000" data-toggle="tab" href="#fav_musics">Fave Music</a></li>-->
            <!--</div>-->
            <!--</div>-->

            <!--<div class="row">-->
            <!--<div class="col-xs-offset-2 col-xs-4 col-style">-->
            <!--<li class="">-->
            <!--<a style="color: #000000" data-toggle="tab" href="#fav_books">Fave Books</a></li>-->
            <!--</div>-->
            <!--<div class="col-xs-4 col-style">-->
            <!--<li class="">-->
            <!--<a style="color: #000000" data-toggle="tab" href="#stuff_i_like">Stuff I like</a></li>-->
            <!--</div>-->
            <!--</div>-->

            <li class="active">
              <a style="color: #000000" data-toggle="tab" href="#basic_info">Basic Info</a>
            </li>
            <li class="">
              <a style="color: #000000" data-toggle="tab" href="#fav_movies">Fave Movies</a>
            </li>
            <li class="">
              <a style="color: #000000" data-toggle="tab" href="#fav_musics">Fave Music</a>
            </li>
            <li class="" style="margin-left:17.5%;">
              <a style="color: #000000" data-toggle="tab" href="#fav_books">Fave Books</a>
            </li>
            <li class="">
              <a style="color: #000000" data-toggle="tab" href="#stuff_i_like">Stuff I like</a>
            </li>


          </ul>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-offset-1 col-xs-11 col-sm-12 col-md-12 col-lg-12">
          <div class="tab-content" id="myTabContent">
            <div id="basic_info" class="tab-pane fade active in">


              <div class="row">

              </div>


            </div>
            <div id="fav_movies" class="tab-pane fade">
              <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation
                +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
                craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco
                ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar
                helvetica VHS salvia yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes
                anderson 8-bit, sustainable jean shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party
                scenester stumptown, tumblr butcher vero sint qui sapiente accusamus tattooed echo park.</p>
            </div>
            <div id="fav_musics" class="tab-pane fade">
              <p>Fav Music</p>
            </div>
            <div id="fav_books" class="tab-pane fade">
              <p>Fav Books</p>
            </div>
            <div id="stuff_i_like" class="tab-pane fade">
              <p>Stuff I like</p>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>