<!-- ========================= Show Profile Page Starts ========================= -->

<style>
    .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
        height: 25px;
    }
</style>


<section id="user_name_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-blue">
        <h2>Welcome, <%= @user_name %> </h2>
      </div>
    </div>
  </div>
</section>

<!-- Display Movies, Music, Books here -->

<section id="view_profile_section">
  <div class="container">
    <div class="row" style="padding-top: 3%;">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="ui-widget">
          <label for="movies">Search Movies :- </label>
          <!--<input id="movies_search_textfield">-->
          <%= select_tag "movies_search_textfield", "".html_safe, multiple: true, class: 'chosen-select ui-autocomplete-input' %>
        </div>

        <ul id="demo8" name="demo8"></ul>

      </div>
    </div>
  </div>
</section>

<!-- ========================= Show Profile Page Ends ========================= -->

<script>
    $(function() {


        var availableTags = [
            "ActionScript",
            "AppleScript",
            "Asp",
            "BASIC",
            "C",
            "C++",
            "Clojure",
            "COBOL",
            "ColdFusion",
            "Erlang",
            "Fortran",
            "Groovy",
            "Haskell",
            "Java",
            "JavaScript",
            "Lisp",
            "Perl",
            "PHP",
            "Python",
            "Ruby",
            "Scala",
            "Scheme"
        ];

        var moviesJSON = [];

        //auto_complete_movie(moviesJSON);

        //$('#movies_search_textfield').on('click', function(){
            //auto_complete_movie(moviesJSON);
        //});


        //https://github.com/tsechingho/chosen-rails
        var movie_search_text_field;
        movie_search_text_field = $('.chosen-container');
        var listing = $(movie_search_text_field).find('.chosen-drop').find('.chosen-results'); //results in chosen
        //console.log(listing);
        var movies_search_select_box = $("#movies_search_textfield"); // append <option>movie_name</option> in this

        $(movie_search_text_field).find(":input").on('keyup', function(e){
            //console.log($(this).val());

            var movie_search_text = $(this).val();
            var movie_search_text_len = movie_search_text.length;
            //console.log(movie_search_text + ", " + movie_search_text_len);

            //37 - left, 38 - up, 39 - right, 40 - down
            //if (e.keyCode == 37) {
            //alert( "left pressed" );
            //return false;
            //}

            // get keycode of current keypress event
            var code = (e.keyCode ? e.keyCode : e.which);

            // do nothing if it's an arrow key
            if(code == 37 || code == 38 || code == 39 || code == 40) {
                //$('.chosen-select').trigger("chosen:updated");
                return;
            }
            else {
                    if ( (movie_search_text_len >= 5) ) {
                        //$(movies_search_select_box).html("");
                        var data = {movie_search_text: []};
                        data["movie_search_text"].push(movie_search_text);

                        $.ajax({
                            url: "/search_movies_themoviedb",
                            type: "post",
                            async: false,
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            success: function (data) {
                                //console.log("data :- " + data);
                                var movie_name, movie_poster, movie_release_date;
                                //$(movies_search_select_box).html("");
                                $.each(data, function (i, obj) {
                                    movie_name = obj.split("|||")[0];
                                    //moviesJSON.push(movie_name);
                                    $(movies_search_select_box).append('<option value='+i+'>'+movie_name+'</option>');
                                    //<li class="active-result" style="" data-option-array-index="0">Read</li>
                                    //$(listing).append('<li class="active-result" style="" data-option-array-index='+i+'>'+movie_name+'</li>');
                                    //$('.chosen-select').trigger("chosen:updated");
                                    //$("#DropDownID").trigger("liszt:updated");
                                    //$(movies_search_select_box).trigger("liszt:updated");
                                });
                                $(movies_search_select_box).chosen();
                                //auto_complete_movie(moviesJSON);
                            }
                        });
                    }
            }
        });

    });

    function auto_complete_movie(moviesJSON) {
        console.log("auto_complete_movie() called");
        $("#movies_search_textfield").autocomplete({
            source: moviesJSON
        });
    }

</script>
<!--http://rubygems.org/gems/rails4-autocomplete-->
<!--https://github.com/joliss/jquery-ui-rails-->