<style>
    .buttonmenu{
        width: 100%;
        background-color: #3E4549;
        font-size: 1.3em;
        color: white;
        padding: 5%;
        border: none;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
    }

    .buttonmenu:hover{
        width: 100%;
        background-color:#ff0000;
        font-size: 1.3em;
        color: white;
        padding: 5%;
        border: none;
        text-align: left;
    }

    .profilepic{
        width: 100%;
    }

    /*#send_like_request_btn {*/
        /*padding: 4% 37% 4% 5%;*/
    /*}*/

    /*#you_me_btn {*/
        /*padding: 3% 66% 3% 5%;*/
    /*}*/

    /*#send_icebreaker_btn {*/
        /*padding: 3% 42.7% 3% 5%;*/
    /*}*/

    /*#start_conversation_btn {*/
        /*padding: 3% 35.5% 3% 5%;*/
    /*}*/



</style>

<section id="left_menu">
    <div class="row" id="dashboard_user_profile_pic">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="thumbs">
          <img alt="Image Size 430x280" class="img-responsive" src="/assets/profile_pic.jpg">
          <a href="individual-work.html">
                <span class="title">
                    <span><i class="fa fa-link fa-2x"></i></span>
                </span>
          </a>
        </div>
      </div>
    </div>


    <div class="row" style="margin-top: 1%">
      <button class="buttonmenu" onclick="window.location='/profile/'+<%= current_user.id %>">Send Like Request</button>
        <%#= link_to "Send Like Request", "#", class: "buttonmenu", :id=>"send_like_request_btn" %>
    </div>

    <div class="row" style="margin-top: 1%">
      <button class="buttonmenu" onclick="window.location='/'">You + Me</button>
        <%#= link_to "You + Me", "#", class: "buttonmenu", :id=>"you_me_btn" %>
    </div>

    <div class="row" style="margin-top: 1%">
      <button class="buttonmenu" onclick="window.location='<%= start_ice_breaker_path(params[:id]) %>'">Send Icebreaker</button>
        <%#= link_to "Send Icebreaker", "#", class: "buttonmenu", :id=>"send_icebreaker_btn" %>
    </div>

  <div class="row" style="margin-top: 1%">
    <button class="buttonmenu" onclick="window.location='<%= start_ice_breaker_path(params[:id]) %>'">Conversations</button>
      <%#= link_to "Start Conversation", start_ice_breaker_path(params[:id]), class: "buttonmenu", :id=>"start_conversation_btn" %>
  </div>


</section>