<style>
    .buttonmenu{
        width: 100%;
        background-color: #3E4549;
        font-size: 1.3em;
        color: white;
        padding: 5%;
        border: none;
        font-family: 'Open Sans', sans-serif;
        text-align: left;
    }

    .buttonmenu:hover{
        width: 100%;
        background-color:#ff0000;
        font-size: 1.3em;
        color: white;
        padding: 5%;
        border: none;
        text-align: left;
    }

    .profilepic{
        width: 100%;
    }



</style>

<section id="left_menu">
  <div class="row" id="dashboard_user_profile_pic" >

    <div class="thumbs">
      <img alt="Image Size 430x280" class="img-responsive profilepic" src="/assets/profile_pic.jpg">
    </div>

  </div>


    <div class="row" style="margin-top: 1%">
      <!--<button class="buttonmenu" onclick="window.location='/profile/'+<%#= current_user.id %>">Send Like Request</button>-->
      <button class="buttonmenu" onclick="window.location='<%= user_like_path(params[:id]) %>'">Send Like Request</button>
        <%#= link_to "Send Like Request", "#", class: "buttonmenu", :id=>"send_like_request_btn" %>
    </div>

    <div class="row" style="margin-top: 1%">
      <% if checking_status_likes(params[:id]) %>
          <button class="buttonmenu" onclick="window.location='<%= younme_path(params[:id]) %>'">You + Me</button>
      <%else %>
          <button class="buttonmenu" data-toggle="modal" data-target="#disabledModal">You + Me</button>
      <%end %>
    </div>

    <div class="row" style="margin-top: 1%">
      <% if checking_status_likes(params[:id]) %>
          <button class="buttonmenu" onclick="window.location='<%= start_ice_breaker_path(params[:id]) %>'">Send Icebreaker</button>
      <%else %>
          <button class="buttonmenu" data-toggle="modal" data-target="#disabledModal">Send Icebreaker</button>
      <%end %>
    </div>

  <div class="row" style="margin-top: 1%">
    <% if checking_status_likes(params[:id]) %>
        <button class="buttonmenu" onclick="window.location='<%= start_ice_breaker_path(params[:id]) %>'">Send a Message</button>
    <%else %>
        <button class="buttonmenu" data-toggle="modal" data-target="#disabledModal">Send a Message</button>
    <%end %>
  </div>


  <div class="modal fade" id="disabledModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title blue" id="myModalLabel">Not Permitted</h4>
        </div>
        <div class="modal-body">
          <p class="blue">This feature is temporary disabled.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</section>


