<section id="left_menu">
  <% @current_user_quick_matches = BaseMatch.where(:user_id => current_user.id, :match_status => true) %>

  <%-
      @mutual_likes =Array.new
      User.all.each do |u|
        if !get_like_status(u.id).nil?
          @mutual_likes << u
        end
      end
  %>

  <div class="row" id="dashboard_user_profile_pic">

    <div class="thumbs" style="height: 216px; max-height: 216px;">
      <% if current_user.demographic.avatar.nil? %>
          <a href="/assets/profile_pic.jpg" class="fancybox" title="Sample title">
            <!--<img src="small_image.jpg" />-->
            <img alt="Image Size 430x280" class="img-responsive profilepic" src="/assets/profile_pic.jpg">
          </a>
      <% else %>
          <img alt="Image Size 430x280" class="img-responsive profilepic" src="<%= current_user.demographic.avatar.url %>">
      <% end %>
    </div>

  </div>


  <div class="row" style="margin-top: 1%">
    <button class="buttonmenu mob-device-buttonmenu" id="profile_btn" onclick="window.location='/profile/'+<%= current_user.id %>">Profile</button>
  </div>

  <div class="row" style="margin-top: 1%">
    <button class="buttonmenu mob-device-buttonmenu" id="matches_btn" onclick="window.location='/quick_matches'">Matches
      <% if !@current_user_quick_matches.nil? %>
          <span class=bubble>
            <%= @current_user_quick_matches.count %>
          </span>
      <% end %>
    </button>
  </div>

  <div class="row" style="margin-top: 1%">
    <button class="buttonmenu mob-device-buttonmenu" id="mutual_likes_btn" onclick="window.location='/mutual_likes'">Mutual Likes
      <% if !@mutual_likes.nil? %>
          <span class=bubble>

            <%= @mutual_likes.count %>

          </span>
      <% end %>
    </button>
  </div>

  <div class="row" style="margin-top: 1%">
    <button class="buttonmenu mob-device-buttonmenu" id="conversation_btn" onclick="window.location='/conversations'">Conversations</button>
  </div>

  <div class="row" style="margin-top: 1%">
    <button class="buttonmenu mob-device-buttonmenu" id="snazz_me_up_btn" onclick="window.location='/snazzmeup'">Snaz Me Up!</button>
  </div>

</section>

