<style>
  .buttonmenu{
      width: 100%;
      background-color: #3E4549;
      font-size: 1.5em;
      color: white;
      font-weight: 350;
      padding: 5%;
      border: none;
      font-family: 'Open Sans', sans-serif;
      text-align: left;
  }

  .buttonmenu:hover{
      width: 100%;
      background-color:#ff0000;
      font-size: 1.3em;
      color: white;
      font-weight: 400;
      padding: 5%;
      border: none;
      text-align: left;
  }

  .profilepic{
      width: 100%;
  }



</style>


<section id="left_menu">
    <div class="row" id="dashboard_user_profile_pic" >

        <div class="thumbs">
          <img alt="Image Size 430x280" class="img-responsive profilepic" src="/assets/profile_pic.jpg">
        </div>

    </div>

    <div class="row" style="margin-top: 1%">
        <button class="buttonmenu" onclick="window.location='/profile/'+<%= current_user.id %>">Profile</button>
        <!--<button class="lhc-btn btn-large gray">Profile</button>-->
        <%#= link_to "Profile", profile_path, class: "btn-main", :style=>"font-size: 1.1em; padding: 5% 77% 5% 5%; text-transform: none;" %>
    </div>

    <div class="row" style="margin-top: 1%">
        <button class="buttonmenu" onclick="window.location='/quick_matches'">Matches</button>
        <!--<%#= link_to "Conversations", conversations_path, class: "buttonmenu", :style=>"font-size: 1.1em; text-transform: none;" %>-->
        <!--<a href="#"><%#= Recipient.where(:user_id => current_user.id,:status => false).map {|r| r.message}.reverse.count %></a>-->
    </div>

    <div class="row" style="margin-top: 1%">
        <button class="buttonmenu" onclick="window.location='/mutual_likes'">Mutual Likes</button>
        <!--<button class="lhc-btn btn-large gray">Quick Match</button>-->
        <!--<%#= link_to "Quick Matches", quick_matches_path, class: "btn-main btn-large", :style=>"font-size: 1.1em; text-transform: none; width:100%;" %>-->
    </div>

    <div class="row" style="margin-top: 1%">
        <button class="buttonmenu" onclick="window.location='/conversations'">Conversations</button>
        <!--<button class="lhc-btn btn-large gray">Mutual Likes</button>-->
        <!--<%#= link_to "Mutual Likes", "#", class: "btn-main btn-large", :style=>"font-size: 1.1em; text-transform: none;" %>-->
    </div>

    <div class="row" style="margin-top: 1%">
        <button class="buttonmenu" onclick = "window.location='/snazzmeup'">Snaz Me Up!</button>
        <!--<button class="lhc-btn btn-large gray">Questions</button>-->
        <!--<%#= link_to "Questions", "#", class: "btn-main btn-large", :style=>"font-size: 1.1em; text-transform: none;" %>-->
    </div>

</section>