<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu" %>
<% end %>


<style>
  h4 {
      color:#000000;
  }
        .message-item
        {
            cursor: pointer;
        }
</style>
<section id="dashboard_messages_section">

  <div class="row" style="margin-top: 2%">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 white-background" style="border-radius: 10px;">
      <br>
      <ul class="media-list">
        <li class="media message-item">
          <a class="pull-left" href="#">
            <img class="img-circle img-responsive" src="/assets/male.png" height="80px" width="80px" >
          </a>

          <div class="media-body">
            <h4 class="media-heading" style="color:darkcyan;">Persues  Vazifdar</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </li>
 <li class="media message-item">
          <a class="pull-left" href="#">
            <img class="img-circle img-responsive" src="/assets/male.png" height="80px" width="80px" >
          </a>

          <div class="media-body">
            <h4 class="media-heading" style="color:darkcyan;">Ashwin Kumar</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </li>



        <li class="media message-item">
          <a class="pull-left" href="#">
            <img class="img-circle img-responsive" src="/assets/male.png" height="80px" width="80px"  >
          </a>

          <div class="media-body">
            <h4 class="media-heading" style="color:darkcyan;">Sunny Singh</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin
            commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </li>
      </ul>

    </div>
  </div>


</section>

