<!-- ========================= Dashboard Page Begins ========================= -->
<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu" %>
<% end %>

<%= content_for(:dialogue_bar_header) do %>
    Welcome, <%= current_user.demographic.name %>
<% end %>




<div class="col-xs-6 col-sm-6 col-md-6 col-lg-9 blue-background" style="padding-top:2%">
  <%#= yield %>
  <div class="row" >
    <div class="col-lg-12 col-md-8 col-sm-8 col-xs-8 page-header1">
      Have A Great Time!
    </div>
  </div>
  <div class="row" style="margin-top:3%;">
    <div class="col-lg-12 col-md-8 col-sm-8 col-xs-8 section-head1">
      Recent Activity
    </div>
  </div>
  <div class="recent-activity-list">
  <% 7.times do |i| %>
      <div class="row">
        <div class="col-lg-12 whiteblock">
          <div class="left-part"> <img class="img-circle profile_pic_thumbnail" src="/assets/profile_pic.jpg" ></div>
          <div class="mid-part">
          <div class="recentactivitytext">
          Your Match <a>Sagarika</a> sent you a message
          </div>
          </div>
          <div class="right-part">
            <div class="recentactivitydate">
              8th April 2014
            </div>
          </div>


          <!--<div class="row">-->
            <!--<div class="col-lg-2">-->
              <!--<img class="img-circle profile_pic_thumbnail" src="/assets/profile_pic.jpg" >-->
            <!--</div>-->
            <!--<div class="col-lg-10">-->
              <!--<div class="row">-->
                <!--<div class="col-lg-12 recentactivitydate">-->
                  <!--8th April 2014-->
                <!--</div>-->
              <!--</div>-->
              <!--<div class="row">-->
                <!--<div class="col-lg-12 recentactivitytext">-->
                  <!--Your Match <a>Sagarika</a> sent you a message-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
  <% end %>
  </div>

</div>
<div class="col-lg-3 text-center" style="padding-top:2%">
  <div class="row">
    <div class="col-lg-12">
      <div class="countdown">
        <div class="row">
          <div class="col-lg-12">
            <div class="countdowntext">
              9
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="countdowntexthr">
              Hours
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="countdown1">
        <div class="countdowntext1">
          Remaining
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="match_text">
        Check your matches now!
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <i class="fa fa-envelope fa-3x white iconstyle"></i>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="invitefriend">Invite A Friend</div>
    </div>
  </div>
  <div class="row" id="try_img">
    <div class="col-lg-12">
      <img src="/assets/banner-quiz.jpg" height="80px" width="80px">
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="try_out_quiz">Try our Quiz</div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="try_out_quiz_text">Your Match Sagarika sent you a message Your Match</div>
    </div>
  </div>
</div>



<!-- ========================= Dashboard Page Ends ========================= -->