<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu" %>
<% end %>


<%= content_for(:dialogue_bar_header) do %>
    Your Matches
<% end %>
<%= content_for(:page_header) do %>
    Here are your matches!
<% end %>


<section id="dashboard_matches_section">


      <ul class="list-inline portfolio text-center">
        <% 9.times do |test_ans_option| %>
            <li data-tag="graphics">
              <div class=" test-thumbs">
                <img src="/assets/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
                <a href="#">
                  <span class="title"><span class="match_age">24,Female<br><br>Mumbai</span></span>
                </a>
              </div>

              <div class="project-title margin-30">
                <div class="row" style="padding-left: 2%;">
                  <div class="col-lg-1 col-lg-offset-4">
                    <i class="fa fa-thumbs-up icon_font_size thumb_up_color"></i>
                  </div>
                  <div class="col-lg-1">
                    <i class="fa fa-thumbs-down icon_font_size thumb_down_color"></i>
                  </div>
                </div>
              </div>
            </li>
        <% end %>


      </ul>







</section>