<%= content_for(:left_menu) do %>
    <%= render :partial=>"left_menu_other" %>
<% end %>


<style type="text/css">
  .question
  {
      margin-top:2%;
  }
        .question_statment
        {
            font-size:1.5em;
            color:black;
        }
</style>

<div class="col-xs-6 col-sm-6 col-md-6 col-lg-12" style="margin-top: 4%">

  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h3 style="color:darkcyan;">Start a conversation with monika !</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <div class="white-background">
        <span class="question_statment" ><label>
          &nbsp;<input type="checkbox">
        </label>
          This is where questions will appear</span>
      </div>
      <div class="white-background question" >
        <span class="question_statment" ><label>
          &nbsp;<input type="checkbox">
        </label>
          This is where questions will appear</span>
      </div>
      <div class="white-background question">
        <span class="question_statment"><label>
          &nbsp;<input type="checkbox">
        </label>
          This is where questions will appear</span>
      </div>
      <div class="white-background question">
        <span class="question_statment"><label>
          &nbsp;<input type="checkbox">
        </label>
          This is where questions will appear</span>
      </div>
      <div class="white-background question">
        <span class="question_statment"><label>
          &nbsp;<input type="checkbox">
        </label>
          This is where questions will appear</span>
      </div>
    </div>
  </div>

  <div class="row" style="margin-top:2%">
    <div class="col-lg-3">
    <a class="btn btn-block ans_btn" href=<%= conversations_with_users_path %>>Ask questions</a>
    </div>
  </div>
    </div>