<section id="bottom">
  <div class="container">
    <div class="row margin-40">
      <div class="col-md-10 col-md-offset-1 text-center">
        <p>Mumbai, India | <a href="mailto:contact@letshavecoffee.in"><i class="fa fa-envelope-o"></i> contact@letshavecoffee.in</a></p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <!--Social Icons-->
        <ul class="social-icons">
          <li><a target="_blank" href="https://twitter.com/BrewAwesomeness" class="twitter"><i class="fa fa-twitter fa-3x"></i></a></li>
          <li><a target="_blank" href="https://www.facebook.com/letshavecoffeeindia" class="facebook"><i class="fa fa-facebook fa-3x"></i></a></li>
          <li><a target="_blank" href="https://plus.google.com/u/1/106831902455297801985" class="google"><i class="fa fa-google-plus fa-3x"></i></a></li>
          <!--<li><a target="_blank" href="http://www.instagram.com" class="instagram"><i class="fa fa-camera-retro fa-3x"></i></a></li>-->
          <li><a target="_blank" href="http://www.pinterest.com/letshavecoffeee/" class="pinterest"><i class="fa fa-pinterest fa-3x"></i></a></li>
          <!--<li><a target="_blank" href="http://www.linkedin.com" class="linkedin"><i class="fa fa-linkedin fa-3x"></i></a></li>-->
          <!--<li><a target="_blank" href="http://www.github.com" class="Github"><i class="fa fa-github-alt fa-3x"></i></a></li>-->
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-offset-6 col-sm-offset-6 col-md-offset-6 col-lg-offset-6 col-xs-3 col-sm-3 col-md-3 col-lg-3" style="text-align: center; margin-left: 46%;">
        <!--<div class="fb-like" data-href="http://www.letshavecoffee.in/" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>-->

        <div class="fb-share-div" onclick='share_result();' style="height: 25px; width: 10%; cursor: pointer;">
          <img src="/assets/fbshare.png" style="height: 100%;">
        </div>

      </div>
    </div>

  </div>
</section>