<style>
    a:hover{
        color: transparent;
        background: none;
    }
</style>

<section id="icons_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="list-inline home-icons">
          <li><a href="#"><i class="fa fa-rocket fa-4x red"></i></a></li>
          <li><a href="#"><i class="fa fa-heart fa-4x red"></i></a></li>
          <li><a href="#"><i class="fa fa-truck fa-4x red"></i></a></li>
          <li><a href="#"><i class="fa fa-cogs fa-4x red"></i></a></li>
          <li><a href="#"><i class="fa fa-lock fa-4x red"></i></a></li>
          <li><a href="#"><i class="fa fa-check fa-4x red"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>