<section id="message">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <h4 class="gray">
          <!--&quot; He was my cream, and i was his coffee - <br> And when you poured us together, it was <span class="red">something</span>. &quot;-->
          <%= get_content_for("landingPageQuote")%>
        </h4>
      </div>
    </div>
  </div>
</section>