.whiteblock{
    background-color: #FFFFFF;
    height: 80px;
    margin-top: 1%;
    padding: -1%;

}

.recentactivitydate{
    text-align: right;
    font-size: 0.9em;
    color: #3E4549;

}



.recentactivitytext{
    vertical-align:bottom;
    text-align: left;
    font-size: 1.2em;
    color: #3E4549;
    margin-top: 8%;
    /*margin-left: -8%;*/
}


.profile_pic_thumbnail
{
    height: 55px;
    margin-top:15%;

}

.recent-activity-list
 {
    overflow-y: auto;
    overflow-x:hidden ;
    /*display: inline;*/
    position: relative;
    height: 370px;
 }
.recent-activity-list .left-part
{
    /*position: absolute;*/
    width:9%;
    display: inline-block;
    vertical-align: top;
    height:100%
}

.recent-activity-list .mid-part
{
    width:73%;
    height: 100%;
    vertical-align: bottom;
    /*position: absolute;*/
     display: inline-block;
    /*left:0*/
}

.recent-activity-list .right-part
{
    /*position: absolute;*/
    width:15%;
    height:100%;
    display: inline-block;
    vertical-align: top;
}

.section-head1{
    color:#3E4549;
    text-align: right;
    font-size: 1.3em;

}

.page-left
 {
    display: inline-block;
    width: 20%;
    padding:2.5%;
    padding-left:4%
 }

.page-right
 {
    display: inline-block;
    width: 79%;
    vertical-align: top;
    padding:3%
 }


.no-padding{
    padding:0;
}

.match_age
{
 font-size: 1.4em;
}

.match_city
{
font-size: 2.0em;
    text-align: center;
}

.message-item
{
padding:10px;
}






.transparent-background {
    background: transparent;
    padding-bottom: 20px;
    padding-top: 20px;
}
.white-background {
    background: #ffffff;
    padding-bottom: 20px;
    padding-top: 20px;
}

.white-background_ice_breaker {
    background: #ffffff;
    padding-bottom: 7px;
    padding-top: 14px;
    height: 347px;
    overflow-x:hidden ;
}

.blue-background_ice_breaker {
    background: #38c8e0;
    padding-bottom: 0px;
    padding-top: 25px;
}

.text_styling_ice_breaker{
    font-size:1.5em;
    margin-top: -3%;
}

.font_awesome_ice_breaker{
    float: right;
    margin-right: 1%;
    margin-top: 1.5%;
}



.blue-background {
    background: #38c8e0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.page-header1 {
    font-size: 3em;
    color: #FFFFFF;
    vertical-align: text-top;
}

.countdown{
    width: 30%;
    height: 80px;
    margin-left:34%;
    background-color: #FFFFFF;

}

.countdown1{
    margin-top: 2%;
    /*margin-left: 21%;*/
}

.countdowntext{
    /*margin-top: 45%;*/
    font-size: 5em;
    text-align: center;
    /*padding-top: 32%;*/
    color: #38c8e0;
    margin-top:-11%;
}

.countdowntexthr{
    color: #38c8e0;
    text-align: center;
    margin-top: 18%;

}

.countdowntext1{
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
    /*text-align: center;*/
}

.match_text{
    font-size: 1.2em;
    /*margin-left: 8%;*/
    margin-top: 4%;
    font-family: 'Open Sans', sans-serif;
}

.iconstyle{
    /*margin-left: 31%;*/
    margin-top: 13%;
}

.invitefriend{
    /*margin-left: 22%;*/
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;

}.try_out_quiz{
     /*margin-left: 18%;*/
     margin-top: 5%;
     color: #FFFFFF;
     font-family: 'Open Sans', sans-serif;
     font-size: 21px;
     font-weight: bold;

 }


.try_out_quiz_text{
    /*margin-left: 10%;*/
    margin-top: 5%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;


}
#try_img{
    /*margin-left: 20%;*/
    margin-top: 15%;
}
#footer_color{
    height: 30px;
    background-color: #ffffff;
}

/*this was written in profile.html.erb*/

.name_text {
    font-weight: bold;
    font-size: 1.5em;
}

.profilometer_text {
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    color: #38C8E0;
}

.user_detail {
    font-size: 1em;
}

.hd_list {
    font-family: "open sans";
    font-size: 1.3em;
    line-height: 1.5em;
    color: #f7f7f7;
}
.invitefriend{
    /*margin-left: 30px;*/
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif;


}
#edit_profile_text{
    background-color: white;
    padding: 5px;
    text-align: center
}
#edit_profile_text>a:hover{
    background-color: transparent;
    color: #38C8E0;
}
#edit_profile_text>a:link{color: #38C8E0;}
#edit_profile_text>a:visited { color: #38C8E0;}
#edit_profile_text>a:hover   { color: #38C8E0;}
#edit_profile_text>a:active  {color:#38C8E0;}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
    height: 25px;
}

.knob_text{
    font-size:1.5em;
    font-weight: bold;
    text-align:center;
}

.orange_button
{
    color:#38C8E0;
}

.lhc-radio-btn {
    display:none;
}
input[type="radio"] + .custom-radio-btn {
    display:inline-block;
    width:19px;
    height:19px;
    /*margin:-1px 4px 0 0;*/
    vertical-align:middle;
    cursor:pointer;
}

input[type="radio"] + .custom-radio-btn.my_gender{
    margin:5px 4px 0 0;
}
input[type="radio"] + .custom-radio-btn.opposite_user_gender{
    margin:5px 7px 0 0;
}

.lhc-radio-btn + .male-radio-btn {
    background :url('/assets/white_male.png');
    background-size: 100% 100%;
}

.lhc-radio-btn + .female-radio-btn {
    background :url('/assets/white_female.png');
    background-size: 100% 100%;
}

.lhc-radio-btn:checked + .male-radio-btn {
    background :url('/assets/blue_male.png');
    background-size: 100% 100%;
}
.lhc-radio-btn:checked + .female-radio-btn {
    background :url('/assets/blue_female.png');
    background-size: 100% 100%;
}


.gritter_style .gritter-css3 {
    background:#38c8e0;
    color:white;
    font-weight: normal;
}

.transparent-background-btn
{
    background: transparent;
    border: none;
}

/*input[type="radio"]:checked + #user_male_lable, input[type="radio"]:checked + .opposite_user_gender_male {*/
    /*background:url('/assets/blue_male.png');*/
    /*background-size: 100% 100%;*/
/*}*/

/*input[type="radio"]:checked + #user_female_lable, input[type="radio"]:checked + .opposite_user_gender_female {*/
    /*background:url('/assets/blue_female.png');*/
    /*background-size: 100% 100%;*/
/*}*/



.chosen-container-single .chosen-single
{
    height:30px;
}