/* css from layout - starts */
body {
    overflow-x: hidden;
    overflow-y: auto;
}

.top_images {
    margin-left: 5%;
}

.hidden_elems {
    display: none;
}

.criteria-fill-step-btn {
    text-decoration: none;
}

.criteria-fill-step-btn:hover, #criteria_submit_btn:hover {
    background-color: #e30000;
    color: white;
}

.blue-background {
    background: #38c8e0;
    padding-bottom: 20px;
    padding-top: 20px;
}

.img_caption_text {
    color: #000000;
    font-size: 2em;
}

.grey-btn:hover {
    background-color: #E30000;
    cursor: pointer;
}

.active_gray_btn {
    background-color: #E30000;
}

.smoking_icons {

    width: 69%;
    margin-left: 20px;
}

.drinking_icons {
    width: 24.5%;
    margin-left: 38%;

}

.chosen-container-single {
    width: 100px;
}

.drink_smoke_font {
    font-size: 20px;

}

#smoking_nav {
    background: white;
    line-height: 5.8px;
    /*margin-top: 15px;*/
    margin-bottom: 3%;
}

#drinking_nav {
    background: white;
    line-height: 6px;
    /*margin-top: 15px;*/
    /*margin-bottom: 5%;*/
    margin-bottom: -3%;
    padding-bottom: 0%;
}

.mandatory-title-white {
    background: url("/assets/icons/arrow.png") no-repeat scroll left 1% bottom #3E4549;
    padding-bottom: 1.7%;
}

.mandatory-submit-btn-col-right-aligned {
    padding-left: 45%;
}

.mandatory-submit-btn-col-middle-aligned {
    padding-left: 46%;
}

.custom-offset-3 {
    margin-left: 31.6%;
}

@media (min-width: 1700px) and (max-width: 2200px) {
    .mandatory-title-white {
        background: url("/assets/icons/arrow.png") no-repeat scroll left 1% bottom #3E4549;
        padding-top: 1.2%;
        padding-bottom: 2.1%;
    }

    .large-screen-col-3-offset {
        margin-left: 31.5%;
    }

    #drinking_nav {
        padding-bottom: 5.2%;
    }

    #smoking_nav {
        padding-bottom: 4.2%;
    }

    .mandatory-submit-btn-col-right-aligned {
        padding-left: 52.6%;
    }

    .mandatory-submit-btn-col-middle-aligned {
        padding-left: 47%;
    }
}
/* css from layout - ends */

/* individual pages css comes here - starts */
/* individual pages css comes here - ends */