@media (max-width: 480px) {
    .scaled-mobile-device{
        transform:scale(0.5);
    }

    .mob-device-margin-top-10{
        margin-top: 10%;
    }
    .mob-device-margin-top-n2{
        margin-top: -2%;
    }

    .mob-device-margin-top-n3{
        margin-top: -3%;
    }

    .mob-device-margin-top-n5{
        margin-top: -5%;
    }

    .mob-device-margin-top-n15{
        margin-top: -15%;
    }

    .mob-device-margin-top-n11{
        margin-top: -11%;
    }

    .mob-device-col-offset-2{
        margin-left: 16.6667%;
    }

    .mob-device-col-offset-3{
        margin-left: 25%;
    }

    .mob-device-col-offset-5{
        margin-left: 38%;
    }

    input[type="radio"] + .mob-device-signup-radio-btn-first.my_gender {
        margin: 5px 4px 0 -20px;
    }

    input[type="radio"] + .mob-device-signup-radio-btn.my_gender {
        margin: 5px 4px 0 -10px;
    }

    .home-box i{
        padding-bottom: 0;
    }

    .mob-device-scale-07{
        -webkit-transform: scale(0.7);
    }

    .mob-device-scale-08{
        -webkit-transform: scale(0.8);
    }

    /*.mob-device-navbar-brand{*/
        /*height: 15px;*/
    /*}*/

    /*.mob-device-navbar-brand img{*/
        /*height: 100%;*/
    /*}*/

    .coffee-logo-styling {
        height: 60px;
        margin-top: -8px;
    }

    .profile_pic_thumbnail-mobile{
        height: 48px;
        /*height: 75%;*/
        /*margin-top: 9%;*/
        margin-top: 5%;
        margin-left: 10%;
        max-width: 100%;
        width: 100%;
    }

    .landing-page-slider-list-item{
        height: auto;
    }

    #header{
        height: 92%;
    }

    .indi-test-mobile
    {
        vertical-align: middle;
        text-align: center;
        cursor:pointer;
        height:118px;
        width:100%;
        /*background: #E30000;*/
        margin-left: 4%;
        margin-top:4%;
        display: table;

    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .mob-device-mutual-like-profile-img{
        height: 195px;
        padding-left: 10%;
        width: 90%;
    }

    .mob-device-mutual-likes-list{
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .scaled-mobile-device{
        transform:scale(0.5);
    }

    .mob-device-scale-07{
        -webkit-transform: scale(0.7);
    }

    .mob-device-scale-08{
        -webkit-transform: scale(0.8);
    }

    .mob-device-scale-09{
        -webkit-transform: scale(0.9);
    }

    .mob-device-margin-top-n2{
        margin-top: -2%;
    }

    .mob-device-margin-top-n3{
        margin-top: -3%;
    }

    .mob-device-margin-top-n15{
        margin-top: -15%;
    }

    .mob-device-margin-top-n11{
        margin-top: -11%;
    }

    .mob-device-col-offset-2{
        margin-left: 16.6667%;
    }

    .mob-device-custom-offset-2{
        margin-left: 16.6667%;
    }

    .mob-device-col-offset-3{
        margin-left: 25%;
    }

    .mob-device-col-offset-4{
        margin-left: 33.3333%;
    }

    .mob-device-col-offset-5{
        margin-left: 38%;
    }

    .mob-device-full-width{
        width: 100%;
    }

    input[type="radio"] + .mob-device-signup-radio-btn-first.my_gender {
        margin: 5px 4px 0 -60px;
    }

    input[type="radio"] + .mob-device-signup-radio-btn.my_gender {
        margin: 5px 4px 0 -10px;
    }

    .home-box{
        padding: 40px 0 0 0;
    }

    .mob-device-font-1em{
        font-size: 1em;
    }

    .mob-device-match_text{
        font-size: 1.1em;
        line-height: 1.2em;
    }

    .mob-device-buttonmenu{
        font-size: 1.28em;
        /*font-weight: 250;*/
        padding: 5% 10% 5% 10%;
        margin: 2% 0 0 0;
    }

    .mob-device-mutual-like-profile-img{
        height: 195px;
        padding-left: 10%;
        width: 90%;
    }
}