<!-- ========================= Relationship Test Page Begins ========================= -->
<section id="relationship_test_page_title_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12 title-white">
        <h2>Relationship Tests</h2>
      </div>
    </div>
  </div>
</section>

<section id="relationship_test_section">
  <div class="container">
    <div class="row margin-20">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <ul class="list-inline">
          <li><a href="#" data-toggle="portfilter" data-target="all">All</a></li>
          <li><a href="#" data-toggle="portfilter" data-target="graphics">Graphics</a></li>
          <li><a href="#" data-toggle="portfilter" data-target="web">Web</a></li>
          <li><a href="#" data-toggle="portfilter" data-target="videos">Videos</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
      <ul class="list-inline portfolio text-center">

        <!--Project Thumbnail-->
        <li data-tag="graphics">
          <div class="thumbs">
            <img src="/assets/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>Breakroom</h5>
          </div>
        </li>

        <!--Project Thumbnail-->
        <li data-tag="web">
          <div class="thumbs">
            <img src="/assets/portfolio2.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>White Sneaker</h5>
          </div>
        </li>

        <!--Project Thumbnail-->
        <li data-tag="videos">
          <div class="thumbs">
            <img src="/assets/portfolio3.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>Theme Armada</h5>
          </div>
        </li>

        <!--Project Thumbnail-->
        <li data-tag="web">
          <div class="thumbs">
            <img src="img/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>Breakroom</h5>
          </div>
        </li>

        <!--Project Thumbnail-->
        <li data-tag="web">
          <div class="thumbs">
            <img src="img/portfolio2.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>White Sneaker</h5>
          </div>
        </li>

        <!--Project Thumbnail-->
        <li data-tag="graphics">
          <div class="thumbs">
            <img src="img/portfolio3.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>Theme Armada</h5>
          </div>
        </li>

        <!--Project Thumbnail-->
        <li data-tag="videos">
          <div class="thumbs">
            <img src="img/portfolio3.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>Theme Armada</h5>
          </div>
        </li>


        <!--Project Thumbnail-->
        <li data-tag="web">
          <div class="thumbs">
            <img src="img/portfolio2.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>White Sneaker</h5>
          </div>
        </li>

        <!--Project Thumbnail-->
        <li data-tag="web">
          <div class="thumbs">
            <img src="img/portfolio1.jpg" class="img-responsive" alt="Image Size 430x280">
            <a href="individual-work.html">
          				<span class="title">
          					<span><i class="fa fa-link fa-2x"></i></span>
          				</span>
            </a>
          </div>

          <div class="project-title margin-30">
            <h5>Breakroom</h5>
          </div>
        </li>

      </ul><!--End Work List-->
    </div><!--End Row-->
  </div>
</section>
<!-- ========================= Relationship Test Page Ends ========================= -->