<section id="bottom">
  <div class="container">
    <div class="row margin-40">
      <div class="col-md-10 col-md-offset-1 text-center">
        <p>1234 Main Street Atlanta, GA 30305 | 404.555.5555  |  <a href="mailto:support@themearmada.com"><i class="fa fa-envelope-o"></i> support@themearmada.com</a></p>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <!--Social Icons-->
        <ul class="social-icons">
          <li><a target="_blank" href="http://www.twitter.com/themearmada" class="twitter"><i class="fa fa-twitter fa-3x"></i></a></li>
          <li><a target="_blank" href="http://www.facebook.com" class="facebook"><i class="fa fa-facebook fa-3x"></i></a></li>
          <li><a target="_blank" href="http://www.googleplus.com" class="google"><i class="fa fa-google-plus fa-3x"></i></a></li>
          <li><a target="_blank" href="http://www.instagram.com" class="instagram"><i class="fa fa-camera-retro fa-3x"></i></a></li>
          <li><a target="_blank" href="http://www.pinterest.com" class="pinterest"><i class="fa fa-pinterest fa-3x"></i></a></li>
          <li><a target="_blank" href="http://www.linkedin.com" class="linkedin"><i class="fa fa-linkedin fa-3x"></i></a></li>
          <li><a target="_blank" href="http://www.github.com" class="Github"><i class="fa fa-github-alt fa-3x"></i></a></li>
        </ul>
      </div>
    </div>

  </div>
</section>