<section id="three_cols_desc_section">
  <div class="container">
    <div class="row">

      <!--Section 1-->
      <a href="#">
        <div class="col-sm-4 text-center home-box">
          <i class="fa fa-mobile-phone fa-3x"></i>
          <h3>Mobile Responsive</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris dui. Nam eu risus neque, sed blandit ante. Integer eget massa.</p>
        </div>
      </a>

      <!--Section 2-->
      <a href="#">
        <div class="col-sm-4 text-center home-box">
          <i class="fa fa-thumbs-up fa-3x"></i>
          <h3>Built With Bootstrap</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris dui. Nam eu risus neque, sed blandit ante. Integer eget massa.</p>
        </div>
      </a>

      <!--Section 3-->
      <a href="#">
        <div class="col-sm-4 text-center home-box">
          <i class="fa fa-flag fa-3x"></i>
          <h3>Over 249 Icons</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a mauris dui. Nam eu risus neque, sed blandit ante. Integer eget massa.</p>
        </div>
      </a>

    </div>
  </div>
</section>